@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    border: 0;
    padding:  0;
    box-sizing: border-box;
    vertical-align: top;
    outline: 0;
    /* outline: red 1px dashed; */
}

body {
    display: flex;
    margin: 0 auto;
    font-size: 3rem;
    font-family: 'Roboto Mono';
}
#calculator {
    background-color: #222;
    margin: 0 auto;
    display: grid;
    gap: 2px;
    align-items: center;
    /* padding: 20px; */
}

#display {
    font-size: 5rem;
    display: flex;
    color: white;
    justify-content: right;
    align-items: flex-end;
    height: 100px;
}
.row {
    display:grid;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 2px;
}

button {
    font-family: 'Roboto Mono';
    font-size: 3rem;
    text-align: center;
    height: 100px;
    width: 100%;
    line-height: 15px;
    background-color: slategray;
    color: white;
    /* border-radius: 50%; */
    /* border: 2px solid #222; */
}

button:hover {
    background-color: rgb(164, 171, 179);
}

#equals {
    width: auto;
    grid-column-start: 1;
    grid-column-end: 5;
}

.operator {
    background-color: slateblue;
}

.operator:hover {
    background-color: rgb(150, 139, 223);
}